{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-md-offset-2 col-md-8 well">
        <h1>Créer votre compte</h1>
{% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
